.root {
  .ArrowIcon {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-top: 5px;
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      fill: #91127e;
      transform: scale(1.3);
    }
  }
}
