# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
\.vscode/
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
/release-build/
release-builds/snippet-vault-win32-ia32/chrome_100_percent\.pak

release-builds/snippet-vault-win32-ia32/chrome_200_percent\.pak

release-builds/snippet-vault-win32-ia32/d3dcompiler_47\.dll

release-builds/snippet-vault-win32-ia32/ffmpeg\.dll

release-builds/snippet-vault-win32-ia32/icudtl\.dat

release-builds/snippet-vault-win32-ia32/libEGL\.dll

release-builds/snippet-vault-win32-ia32/libGLESv2\.dll

release-builds/snippet-vault-win32-ia32/LICENSE

release-builds/snippet-vault-win32-ia32/LICENSES\.chromium\.html

release-builds/snippet-vault-win32-ia32/locales/am\.pak

release-builds/snippet-vault-win32-ia32/locales/ar\.pak

release-builds/snippet-vault-win32-ia32/locales/bg\.pak

release-builds/snippet-vault-win32-ia32/locales/bn\.pak

release-builds/snippet-vault-win32-ia32/locales/ca\.pak

release-builds/snippet-vault-win32-ia32/locales/cs\.pak

release-builds/snippet-vault-win32-ia32/locales/da\.pak

release-builds/snippet-vault-win32-ia32/locales/de\.pak

release-builds/snippet-vault-win32-ia32/locales/el\.pak

release-builds/snippet-vault-win32-ia32/locales/en-GB\.pak

release-builds/snippet-vault-win32-ia32/locales/en-US\.pak

release-builds/snippet-vault-win32-ia32/locales/es-419\.pak

release-builds/snippet-vault-win32-ia32/locales/es\.pak

release-builds/snippet-vault-win32-ia32/locales/et\.pak

release-builds/snippet-vault-win32-ia32/locales/fa\.pak

release-builds/snippet-vault-win32-ia32/locales/fi\.pak

release-builds/snippet-vault-win32-ia32/locales/fil\.pak

release-builds/snippet-vault-win32-ia32/locales/fr\.pak

release-builds/snippet-vault-win32-ia32/locales/gu\.pak

release-builds/snippet-vault-win32-ia32/locales/he\.pak

release-builds/snippet-vault-win32-ia32/locales/hi\.pak

release-builds/snippet-vault-win32-ia32/locales/hr\.pak

release-builds/snippet-vault-win32-ia32/locales/hu\.pak

release-builds/snippet-vault-win32-ia32/locales/id\.pak

release-builds/snippet-vault-win32-ia32/locales/it\.pak

release-builds/snippet-vault-win32-ia32/locales/ja\.pak

release-builds/snippet-vault-win32-ia32/locales/kn\.pak

release-builds/snippet-vault-win32-ia32/locales/ko\.pak

release-builds/snippet-vault-win32-ia32/locales/lt\.pak

release-builds/snippet-vault-win32-ia32/locales/lv\.pak

release-builds/snippet-vault-win32-ia32/locales/ml\.pak

release-builds/snippet-vault-win32-ia32/locales/mr\.pak

release-builds/snippet-vault-win32-ia32/locales/ms\.pak

release-builds/snippet-vault-win32-ia32/locales/nb\.pak

release-builds/snippet-vault-win32-ia32/locales/nl\.pak

release-builds/snippet-vault-win32-ia32/locales/pl\.pak

release-builds/snippet-vault-win32-ia32/locales/pt-BR\.pak

release-builds/snippet-vault-win32-ia32/locales/pt-PT\.pak

release-builds/snippet-vault-win32-ia32/locales/ro\.pak

release-builds/snippet-vault-win32-ia32/locales/ru\.pak

release-builds/snippet-vault-win32-ia32/locales/sk\.pak

release-builds/snippet-vault-win32-ia32/locales/sl\.pak

release-builds/snippet-vault-win32-ia32/locales/sr\.pak

release-builds/snippet-vault-win32-ia32/locales/sv\.pak

release-builds/snippet-vault-win32-ia32/locales/sw\.pak

release-builds/snippet-vault-win32-ia32/locales/ta\.pak

release-builds/snippet-vault-win32-ia32/locales/te\.pak

release-builds/snippet-vault-win32-ia32/locales/th\.pak

release-builds/snippet-vault-win32-ia32/locales/tr\.pak

release-builds/snippet-vault-win32-ia32/locales/uk\.pak

release-builds/snippet-vault-win32-ia32/locales/vi\.pak

release-builds/snippet-vault-win32-ia32/locales/zh-CN\.pak

release-builds/snippet-vault-win32-ia32/locales/zh-TW\.pak

release-builds/snippet-vault-win32-ia32/natives_blob\.bin

release-builds/snippet-vault-win32-ia32/osmesa\.dll

release-builds/snippet-vault-win32-ia32/resources\.pak

release-builds/snippet-vault-win32-ia32/resources/app\.asar

release-builds/snippet-vault-win32-ia32/resources/electron\.asar

release-builds/snippet-vault-win32-ia32/snapshot_blob\.bin

release-builds/snippet-vault-win32-ia32/snippet-vault\.exe

release-builds/snippet-vault-win32-ia32/swiftshader/libEGL\.dll

release-builds/snippet-vault-win32-ia32/swiftshader/libGLESv2\.dll

release-builds/snippet-vault-win32-ia32/v8_context_snapshot\.bin

release-builds/snippet-vault-win32-ia32/version

release-builds/snippet-vault-win32-ia32/VkICD_mock_icd\.dll

release-builds/snippet-vault-win32-ia32/VkLayer_core_validation\.dll

release-builds/snippet-vault-win32-ia32/VkLayer_object_tracker\.dll

release-builds/snippet-vault-win32-ia32/VkLayer_parameter_validation\.dll

release-builds/snippet-vault-win32-ia32/VkLayer_threading\.dll

release-builds/snippet-vault-win32-ia32/VkLayer_unique_objects\.dll
