html {
  height: 100%;
  overflow: hidden;
}
body {
  color: #fff;
  background: rgba(154, 57, 163, 1);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  background: linear-gradient(135deg, #9a39a3 0%, #4167a8 100%);
}
